<p>Hola {{ name }},</p>
<p>Gracias por registrarte con nosotros</p>
<p><a href='{{ url }}'>Confirma tu registro por favor</a></p>
<img src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665__340.jpg" alt="">
<p>Si no requeriste este email puedes ignorarlo no pasa nada!</p>
