<p>Hola <b>{{ name }}</b>,</p>
<p>Gracias por registrarte tu restaurante con eatlify</p>
<span>
    plan: <b>{{plan}}</b> <br>
    phone: <b>{{phone}}</b> <br>
</span>
<img src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665__340.jpg" alt="">
<p>Si no requeriste este email puedes ignorarlo no pasa nada!</p>
